* {
  /*padding: 0;*/
  margin: 0;
  box-sizing: border-box;
  font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
body {
  width: 100%;
}
.logout:hover{
background-color: #000 !important;
}
.row,
.background-img {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.topbar,
.servicetitle:before,
.locationtitle:before,
.packagetitle:before,
.featuretitle:before,
.servicetitle:after,
.locationtitle:after,
.packagetitle:after,
.featuretitle:after,
.btn-primary,
.badges .featured,
figcaption span,
#tags li a:hover,
#navbarNav .navbar-nav li a:hover,
.create-tour {
  background-color: #009900;
}
.dropdown .dropdown-menu li a:hover,
.input-group-addon i,
.fa-clock-o,
.card-title:hover,
.tour-rating ul li i,
.flight-single .flight-rating ul li i,
.stars .fa,
#footer .catagory li a:hover,
#footer h5 {
  color: #009900;
}

.btn-success {
  background-color: #009900 !important;
}
.topbar-nav .topbar-right {
  float: right !important;
}
.footer {
  background-color: rgb(217 217 217);
}
.container-fluid {
  padding: 0px !important;
}
.dropdown-menu {
  background-color: #000 !important;
  color: #fff !important;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu li a,
.dropdown-menu li a:hover {
  text-decoration: none;
  color: #282e3a;
}
.topbar {
  width: 100%;
  display: block;
  padding: 1rem 0 0rem;
  display: flex;
}
#navbarNav .navbar-nav {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
}

#navbarNav .navbar-nav li a:hover,
.create-tour {
  border-radius: 20px;
}
.navbar-light a {
  color: #fff;
}
ul > li {
  list-style: none;
}
.navbar-nav li a {
  color: #fff !important;
  padding: 3px 20px;
  font-weight: 600;
      font-size: 14px;
}
.topbar-nav {
    display: flex;
    align-items: center;
    font-size: 14px;
    /* margin-top: 14px !important; */
    margin-right: 52px;
}

.topbar-nav li a {
  padding: 5px;
 
}
.topbar-nav li a:hover {
  color: #fff;
  background-color: #333;
}
ul li a {
  text-decoration: none;

  color: #fff;
}
/* ul > li > a:hover {
  background-color: #000;
  margin: 10px 20px;
  color: #fff;
} */
ul > li {
  text-decoration: none;
}

.navbar-light {
  background-color: #009900;
  color: #fff !important;
}
.card-img {
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
}
.background-img {
  background-image: url(./../img/Slide2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  /* border-width: 0px 0px 0px 0px;
  border-color: #e2e2e2;
  border-style: solid; */
  background-size: cover;
  min-height: 500px;
}
.outside-div {
  background-color: black;
  opacity: 0.9;

  width: 100%;
  margin: 40px;
  margin-top: 300px;
}
.input-group-addon {
  background-color: #eee;
  color: #555;
  font-size: 14px;
  font-family: Josefin Sans;
  padding: 6px 12px;
}

.inner-div {
  padding: 50px 70px;
}
#service,
#location {
  width: 100%;
  padding: 0px 0 60px;
}

.servicetitle,
.locationtitle,
.packagetitle,
.featuretitle {
  position: relative;
  font-size:42px;
  margin-bottom: 40px;
  display: block;
  text-align: center;
  margin-top: 0;
  font-weight: 800;
  color: #686868;
  text-transform: uppercase;
}

@media screen and (max-width : 768px){
  .servicetitle,
  .locationtitle,
  .packagetitle,
  .featuretitle {
    font-size:28px;
  }
}

.servicetitle small,
.locationtitle small,
.packagetitle small,
.featuretitle small {
  display: block;
  font-size: 16px;
  font-weight:500px;
  line-height: 30px;
  text-transform: initial;
  line-height: 24px;
}

.servicetitle:before,
.locationtitle:before,
.packagetitle:before,
.featuretitle:before {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -15px;
  width: 12px;
  height: 12px;
  margin-left: -5px;
  transform: rotate(45deg);
  border: 2px solid #ffffff;
}
.servicetitle:after,
.locationtitle:after,
.packagetitle:after,
.featuretitle:after {
  content: "";
  height: 2px;
  width: 100px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -50px;
}

.card-body {
  text-align: left;
      /*padding: 43px !important;*/
}
.service-container,
.packagetitle-container {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  padding: 40px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 0 2px rgb(0 0 0 / 20%);
  border: 1px solid #e8e9ec;
}

.service-content h3,
.package-content h3 {
  font-size: 23px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  color: #656565;
  text-transform: uppercase;
}

.tour-meta {
  /*padding: 15px 30px;*/
  border-top: 1px solid #ebecea;
  font-size: 14px;
  display: table;
  width: 100%;
  background: #fafafa;
}

.tour-rating,
.flight-single .flight-rating {
  display: table-cell;
  float: left;
}
.tour-price {
  float: right;
  font-size: 1.2rem;
  font-weight: 600;
  color: #666;
  letter-spacing: -0.5px;
  display: inline-grid;
  text-align: right;
}
.card-title {
  font-size: 16px;
}
.card-title:hover {
  cursor: pointer;
}
.card-img-top {
  display: block;
    max-width: 100%;
    height: 285px !important;
 object-fit: cover !important;
}
figcaption span {
  display: inline-block;
  padding: 5px 20px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}
#package,
#featured {
  padding: 10px 0px;
}
/* @media (max-width: 996px) {
  .col-md-3 {
    width: 25%;
  }
} */
figure figcaption,
.flight-single figure figcaption {
  position: absolute;
  left: 0;

}
figcaption {
  display: block;
}
.tour-rating ul li i,
.flight-single .flight-rating ul li i {
  font-size: 12px;
}
.card,
figure {
  position: relative;
}
service-icon span {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid rgba(250, 41, 100, 0.32);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

div.field.col-md-3.col-sm-3.col-xs-12.p-0,
div.field.col-lg-6.col-md-6.col-sm-6.col-xs-12.p-0 {
  color: #333;
  font-size: 16px;
  font-family: Josefin-Sans;
  margin: 0px 0px 15px;
  padding: 0px 5px;
}
.going,
.single-filter {
  background-color: #f3f3f3;
  padding: 6px 30px 6px 12px;
}

/*Destinations css code*/
.col-xs-6 {
  width: 50%;
}

.col-md-3,
.col-md-4,
.col-sm-6,
.col-xs-12,
.col-lg-3,
.col-xs-4,
.col-lg-4,
.col-xs-6,
.col-md-6 {
  padding-right: 15px;
  padding-left: 15px;
}
.img-box {
  height: 200px;
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  z-index: 90;
  border-radius: 3px;
}
.img-box img {
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
  transition: all 0.55s;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  transition: transform 0.35s ease-out;
}
.img-box:hover img {
  transform: scale(1.4);
}
.badges {
  position: absolute;
  top: 0;
  z-index: 999;
  right: 0;
  width: 100%;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 0px;
  overflow: hidden;
  height: 100px;
}
.badges .featured {
  float: left;
  transform: rotate(-45deg);
  left: -67px;
  top: 17px;
  position: relative;
  text-align: center;
  width: 200px;
  font-size: 13px;
  margin: 0;
}
.badges span {
  color: #fff;
  display: inline-block;
  padding: 3px;
  background-color: rgba(74, 74, 76, 0.7);
  border-radius: 3px;
  top: 15px;
  right: 15px;
  position: absolute;
}
.img-box-content {
  position: absolute;
  z-index: 101;
  top: 50%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  transform: translate(0, -50.5%);
}
.img-box-content h4 {
  font-size: 20px;
  line-height: 42px;
  color: #fff;
  margin: 0;
  font-family: "Oswald", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.stars {
  list-style: none;
  margin-top: 0;
  padding: 0px;
  margin-bottom: 0px;
}
.stars li {
  text-align: center;
  display: inline-block;
  margin-bottom: 0px;
}
.stars .fa {
  font-size: 16px;
}

.fa,
.fas {
  /*font-family: "Font Awesome 5 Free";*/
  font-weight: 900;
}
/*Destinations css code*/
/*Footer*/

#footer h5 {
  text-transform: uppercase;
}

#footer .container {
  padding: 30px 0px;
  line-height: 42px;
}
.footer p {
  line-height: 25px !important;
}
#footer .catagory li a:hover,
#tags li a {
  text-decoration: none;
}
#tags li a {
  background-color: #282e3a;
  padding: 5px 15px;
  border-radius: 100px;
}
#tags li a:hover,
.footer p {
  color: #fff;
}
@media only screen and (min-width:1200px) and (max-width:1400px)
{
.container {
    max-width: 1280px !important;
}
}
@media only screen and (min-width:992px) and (max-width:1200px)
{
.container {
    max-width: 946px !important;
}
}
@media only screen and (min-width:768px) and (max-width:992px)
{
.container {
    max-width: 946px !important;
}
}
@media only screen and (min-width:576px) and (max-width:768px)
{
.container {
    max-width: 946px !important;
}
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #f8f9fa !important;
    border: 1px solid #f8f9fa !important;
    border-radius: 0.25rem;
}
.card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
     border: none; 
    /*border-color: gainsboro !important;*/
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
   border: 1px solid rgb(173 165 165 / 10%) !important;
   
}
.tour-service
{
        padding-right: 0px !important;
    padding-left: 0px !important;
}

.default-container {
  width: 90%;
  margin: 0 auto; /* Centers the container */
}


.compass-text {
    color : #008000 !important;
}

.compass-bg {
    background-color : #008000 !important;
}

